node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.fleet
.idea
.vscode
release

src-tauri/easytier/logs
src-tauri/easytier/tool/ResourcesExtract.exe
src-tauri/easytier/tool/ResourcesExtract.cfg
