/* @tailwind base; */

/*
	用于进行主题更换，如果要更换elemenet-plus-ui的主题记得加上!important，不然更换会失败
*/

/* @layer base {
	html {
		font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
	}
} */

html,
body {
	height: 100%;
	overflow: hidden;
}

* {
	outline: none;
}
body {
	background-color: #fff;
}
html.dark body {
	background-color: #000;
}

#__easytier {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 3px 5px;
}

.full-label .el-form-item__label {
	width: 100%;
	padding-right: 0;
}

.full-content .el-form-item__content {
	/* height: 100%; */
	align-items: flex-start;
	overflow: auto;
	flex: 1;
}