/* @tailwind base; */

/*
	用于进行主题更换，如果要更换elemenet-plus-ui的主题记得加上!important，不然更换会失败
*/

/* @layer base {
	html {
		font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
	}
} */
html {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
html,
body {
	height: 100%;
	overflow: hidden;
}

* {
	outline: none;
}
body {
	background-color: #fff;
}
html.dark body {
	background-color: #000;
}

#__easytier {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 3px 5px;
}

.full-label .el-form-item__label {
	width: 100%;
	padding-right: 0;
}

.full-content .el-form-item__content {
	/* height: 100%; */
	align-items: flex-start;
	overflow: auto;
	flex: 1;
}

.el-table {
	font-size: 12px !important;
}

.el-select-dropdown__wrap {
	max-height: 138px !important;
}

.el-popper:not(.is-pure) {
	font-size: 10px !important;
	line-height: 1.2em !important;
	padding: 5px !important;
	font-weight: lighter !important;
}

.el-message-box__content + .el-message-box__btns {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row-reverse;
	gap: 0 10px;
}
